body
    font-weight: 400
    line-height: 1.4
    font-family: $family-primary

.header-primary
    font-size: 8rem
    letter-spacing: 5px
    line-height: 1.2
    font-weight: 600
    color: $white

.header-secondary
    font-size: 1.5rem
    color: $white