.font-secondary 
    font-family: $family-secondary

.profile-pic
    width: 100% !important
    border-radius: 100%
    box-shadow: 0px 0px 0 5px #fff

.super-heading 
    font-size: 75px
    letter-spacing: 3px

img[alt="Twitter"],
img[alt="Medium"],
img[alt="Instagram"]
    width: 26px

img[alt="Github"]
    width: 28px

img[alt="Linkedin"]
    width: 22px

.about 
    position: relative !important
    height: 120vh
    width: 100%

    .about-plane
        positin: absolute !important
        width: 50%
        height: auto
        z-index: -2
        margin: 0 15vw 0 auto
        top: -45vh
        display: block

    .about-content
        top: 20vh
        position: relative
        width: 100%

.mob-nav-overlay
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    position: fixed
    z-index: 999
    background-color: $white
    display: none

.mob-nav-content-wrap
    position: relative
    width: 100vw
    height: 100vh

.mob-nav-content
    width: 90%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    a
        display: block
        font-size: 30px
        margin: 20px 0
        text-align: center
        color: $primary

    div
        text-align: center

        span img
            width: 26px

        span img[alt="instagram"]
            width: 30px

        span img[alt="linkedin"]
            width: 23px

.navbar-burger
    img
        top: 50%
        left: 50%
        width: 30px
        height: 30px
        position: absolute
        transform: translate(-50%, -50%)

    &:hover
        background-color: transparent !important


.mob-nav-cross
    top: 10px
    right: 10px
    position: absolute

    img 
        width: 35px
        height: 35px