prototype/assets/images/pics_files/
prototype/assets/images/front-part.jpg
prototype/assets/images/pics.html
node_modules/
prototype/Images-edited
prototype/skills-icons
prototype/screenshot
src/images/bgs
src/sass/background.sass
src/sass/custom.sass
src/sass/utilities.sass
src/sass/variables.sass