.blogs
	.big-blog
		width: 80%
		position: relative
		margin: 5rem 0
		
		border-radius: 1rem
		border: 2px solid $white
		overflow: hidden

		img
			position: relative
			width: 100%

	.blogs-list
		list-style-type: none
		margin: 5rem auto

		.blog-item

			padding: 2rem 0
			
			&:not(:last-child)
				border-bottom: .5px dashed $white

			&:last-child
				padding: 2rem 0 0 0



